<center>
<p><img src="https://mcd.unison.mx/wp-content/themes/awaken/img/logo_mcd.png" width="150">
</p>



# Curso *Ingeniería de Características*

### Usando la API para obtener datos sobre personas desaparecidas del RNPDNO


<p> Julio Waissman Vilanova </p>



<a target="_blank" href="https://colab.research.google.com/github/mcd-unison/ing-caract/blob/main/ejemplos/integracion/python/RNPDNO-API.ipynb"><img src="https://i.ibb.co/2P3SLwK/colab.png"  style="padding-bottom:5px;" />Ejecuta en Google Colab</a>

</center>

In [1]:
import os
import sys
import requests
import datetime

import pandas as pd
import json

## Calentando motores

Para descargar los datos, vamos a consultar directamente la base de datos pública del [Registro Nacional de Personas Desaparecidas y No Localizadas (RNPDNO)](https://versionpublicarnpdno.segob.gob.mx/Dashboard/Index).

El RNPDNO no tiene una API tal cual, sin embargo, [Pablo Reyes Moctezuma](https://github.com/pablorm296) encontró una manera de extraer la información usando la librería `request` de python. La API que, me imagino, el extrajo a punta de prueba y error la documento en [este archivo en markdown](https://github.com/pablorm296/ScrapperRNPDNO/blob/master/Test/API.md). Un chambón.

Vamos air la usando poco a poco, empecemos por tratar de encontrar en el catálogo los indices de estados, municipios y colonias.

In [2]:
API_HOST = "https://versionpublicarnpdno.segob.gob.mx/"
API_SOCIODEOGRAFICOS_ROOT = "Sociodemografico/"
API_CATALAGO_ROOT = "Catalogo/"

ENDPOINT_CATALOGO_EDO = "Estados/"
ENDPOINT_CATALOGO_MUN = "Municipios/"
ENDPOINT_CATALOGO_COL = "Colonias/"

# Before doing anything, we must make a dummy request to the index in order to get the propper cookies
main_session = requests.Session()
main_session.get("https://versionpublicarnpdno.segob.gob.mx/Dashboard/Index")
main_session.get("https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral")

Los identificadores de los estados:

In [3]:
TARGET_URL = API_HOST + API_CATALAGO_ROOT + ENDPOINT_CATALOGO_EDO

r = main_session.post(TARGET_URL)
estados_id = pd.json_normalize(r.json(),)
estados_id.columns = ['Valor', 'Estado']
estados_id

    Valor               Estado
0       0            --TODOS--
1       1       AGUASCALIENTES
2       2      BAJA CALIFORNIA
3       3  BAJA CALIFORNIA SUR
4       4             CAMPECHE
5       7              CHIAPAS
6       8            CHIHUAHUA
7       9     CIUDAD DE MEXICO
8       5             COAHUILA
9       6               COLIMA
10     10              DURANGO
11     15     ESTADO DE MEXICO
12     11           GUANAJUATO
13     12             GUERRERO
14     13              HIDALGO
15     14              JALISCO
16     16           MICHOACAN
17     17              MORELOS
18     18              NAYARIT
19     19           NUEVO LEON
20     20               OAXACA
21     21               PUEBLA
22     22           QUERETARO
23     23         QUINTANA ROO
24     24      SAN LUIS POTOSI
25     33         SE DESCONOCE
26     25              SINALOA
27     26               SONORA
28     27              TABASCO
29     28           TAMAULIPAS
30     29             TLAXCALA
31     30            VERACRUZ
32     31              YUCATAN
33     32            ZACATECAS

y ahora los municipios de Sonora

In [4]:
TARGET_URL = API_HOST + API_CATALAGO_ROOT + ENDPOINT_CATALOGO_MUN
DATA = {"idEstado": "26"}

r = main_session.post(TARGET_URL, data = DATA)
mun_son_id = pd.json_normalize(r.json())
mun_son_id.columns = ['Valor', 'Municipio']
mun_son_id

    Valor        Municipio
0       0        --TODOS--
1       1          ACONCHI
2       2      AGUA PRIETA
3       3           ALAMOS
4       4            ALTAR
..    ...              ...
69     65         TUBUTAMA
70     66             URES
71     67    VILLA HIDALGO
72     68  VILLA PESQUEIRA
73     69           YÉCORA

[74 rows x 2 columns]

y por último los identificadores de las colonias del municipio de Hermosillo

In [5]:
TARGET_URL = API_HOST + API_CATALAGO_ROOT + ENDPOINT_CATALOGO_COL
DATA = {"idEstado": "26", "idMunicipio": "30"}

r = main_session.post(TARGET_URL, data = DATA)
col_hmo_id = pd.json_normalize(r.json())
col_hmo_id.columns = ['Valor', 'Municipio']
col_hmo_id

      Valor                Municipio
0         0                --TODAS--
1    347025         22 DE SEPTIEMBRE
2    347004            26 DE OCTUBRE
3    347026               4 DE MARZO
4    347027                 4 OLIVOS
..      ...                      ...
631  347358           VISTA DEL LAGO
632  347359                        Y
633  347582                  ZACATON
634  347384                   ZAMORA
635  347632  ZONA MILITAR CUARTEL XV

[636 rows x 2 columns]

## Sociodemográficos totales

Con este `endpoint` se pueden consultar resúmenes generales de la información que se pide. recuerda de revisar los catálogos.

Hay dos variables cuyos valores posibles son los siguientes:

**idEstatusVictima**:
- "0" PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS
- "2" PERSONAS LOCALIZADAS CON VIDA
- "3" PERSONAS LOCALIZADAS SIN VIDA-
- "4" PERSONAS DESAPARECIDAS
- "5" PERSONAS NO LOCALIZADAS
- "6" PERSONAS LOCALIZADAS
- "7" PERSONAS DESAPARECIDAS Y NO LOCALIZADAS

**idHipotesisNoLocalizacion**:
- "0" --TODAS--
- "1" ACCIDENTE
- "2" CATÁSTROFE
- "3" NO LOCALIZACIÓN VOLUNTARIA
- "4" NO LOCALIZACIÓN INVOLUNTARIA
- "5" SE DESCONOCE

Veamos como funciona pidiendo información de Sonora y de Hermosillo. Empecemos por Sonora

In [6]:
TARGET_URL = API_HOST + API_SOCIODEOGRAFICOS_ROOT + "Totales"

DATA = {
  "titulo":"",
  "subtitulo": "",
  "idEstatusVictima":"0",
  "idHipotesisNoLocalizacion":"0",
  "idEstado":"26",
  "idMunicipio":"0",
  "idColonia":"0",
  "fechaInicio":"",
  "fechaFin":"",
  "mostrarFechaNula":"0",
  "edadInicio":"",
  "edadFin":"",
  "mostrarEdadNula":"0",
  "idNacionalidad":"0",
  "idHipotesis":"",
  "idMedioConocimiento":"",
  "idCircunstancia":"",
  "tieneDiscapacidad":"",
  "idTipoDiscapacidad":"0",
  "idEtnia":"0",
  "idLengua":"0",
  "idReligion":"",
  "esMigrante":"",
  "idEstatusMigratorio":"0",
  "esLgbttti":"",
  "esServidorPublico":"",
  "esDefensorDH":"",
  "esPeriodista":"",
  "esSindicalista":"",
  "esONG":"",
  "idDelito":"0"
}
r = main_session.post(TARGET_URL, json = DATA)

resumen_sonora = pd.json_normalize(r.json()).T
resumen_sonora.columns = ['Valor']

resumen_sonora

                               Valor
TotalGlobal                   11,049
TotalDesaparecidos             5,887
TotalLocalizados               5,162
PorcentajeDesaparecidos      53.28 %
PorcentajeLocalizados        46.72 %
TotalSoloDesaparecidos         5,851
TotalSoloNoLocalizados            36
PorcentajeSoloDesaparecidos  99.39 %
PorcentajeSoloNoLocalizados   0.61 %
TotalLocalizadosCV             4,600
TotalLocalizadosSV               562
PorcentajeLocalizadosCV      89.11 %
PorcentajeLocalizadosSV      10.89 %

### Ejercicio

Probar con diferentes consultas y tratar de inferir los valores que pueden tomar (o buscarlas en la documentación de la API) las diferentes variables que pueden servir para encontrar búsquedas más específicas.

Por ejemplo, ¿Como podríamos consultar las estadísticas sobre mujeres desaparecidas en el municipio de Cajeme?

## Personas desaparecidas por sexo y colonia

El `endpoint` **BarChartSexoColonia** está diseñado para generar gráficas, pero nos permite extraer información, si la sabemos formatear.

Vamos viendo un ejemplo:

In [7]:
TARGET_URL = API_HOST + API_SOCIODEOGRAFICOS_ROOT + "BarChartSexoColonia"

DATA = {
  "titulo":"PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS",
  "subtitulo":"POR COLONIAS - HERMOSILLO",
  "idEstado":"26",
  "idMunicipio":"30",
  "idColonia":"0",
  "idEstatusVictima":"0",
  "idHipotesisNoLocalizacion":"0",
  "idDelito":"0",
  "fechaInicio":"",
  "fechaFin":"",
  "mostrarFechaNula":"0",
  "idNacionalidad":"0",
  "edadInicio":"",
  "edadFin":"",
  "mostrarEdadNula":"0",
  "idHipotesis":"",
  "idMedioConocimiento":"",
  "idCircunstancia":"",
  "tieneDiscapacidad":"",
  "idTipoDiscapacidad":"0",
  "idEtnia":"0",
  "idLengua":"0",
  "idReligion":"",
  "esMigrante":"",
  "idEstatusMigratorio":"0",
  "esLgbttti":"",
  "esServidorPublico":"",
  "esDefensorDH":"",
  "esPeriodista":"",
  "esSindicalista":"",
  "esONG":"",
}
r = main_session.post(TARGET_URL, json = DATA)

res = r.json()
datos = {serie['name']: serie['data'] for serie in res['Series']}
datos['Colonia'] = res['XAxisCategories']
por_colonia = pd.DataFrame(datos)
por_colonia.index = por_colonia.Colonia

por_colonia

,Hombre,Mujer,Indeterminado,Colonia
Colonia,,,,
ARBOLEDAS,1,1,0,ARBOLEDAS
SAHUARO INDECO,0,2,0,SAHUARO INDECO
INFONAVIT,1,0,0,INFONAVIT
SAN JOSE DE LAS MINITAS,2,0,0,SAN JOSE DE LAS MINITAS
COUNTRY CLUB,2,1,0,COUNTRY CLUB
JEREZ DEL VALLE,1,1,0,JEREZ DEL VALLE
VILLA SATÉLITE,0,2,0,VILLA SATÉLITE
LOMAS DEL MIRADOR,1,0,0,LOMAS DEL MIRADOR
SOLIDARIDAD 4,1,0,0,SOLIDARIDAD 4
QUINTA EMILIA,9,0,0,QUINTA EMILIA
VILLA HERMOSA,2,6,0,VILLA HERMOSA
CHOYAL,4,1,0,CHOYAL
MIGUEL ALEMÁN CENTRO,29,9,0,MIGUEL ALEMÁN CENTRO
UNIVERSIDAD,1,1,0,UNIVERSIDAD
JESÚS GARCIA,14,3,0,JESÚS GARCIA
MESA DEL SERI,3,1,0,MESA DEL SERI
VILLA COLONIAL,3,1,0,VILLA COLONIAL
BUGAMBILIAS,13,1,0,BUGAMBILIAS
NUEVA PALMIRA,1,0,0,NUEVA PALMIRA
VILLA DE SERIS,1,3,0,VILLA DE SERIS
PRADOS DEL SOL,1,0,0,PRADOS DEL SOL
LOS ÁLAMOS,1,0,0,LOS ÁLAMOS
PARQUE INDUSTRIAL DYNATECH SUR,1,0,0,PARQUE INDUSTRIAL DYNATECH SUR
4 DE MARZO,3,0,0,4 DE MARZO
VILLAS DEL SUR,6,5,0,VILLAS DEL SUR
CASA BLANCA,3,0,0,CASA BLANCA
PASEO CASA BLANCA,1,0,0,PASEO CASA BLANCA
PUEBLO ESCONDIDO,1,1,0,PUEBLO ESCONDIDO
5 DE MAYO,7,3,0,5 DE MAYO
DUNAS,5,1,0,DUNAS

### Ejercicio

¿Como podemos sacar lo que pasa en todo el estado, por municipios y por colonias? Intentalo.

## Información por sexo y por año

Tambien se puede encontrar información por sexo y por año utilizando otro `endpoint`: **AreaChartSexoAnio**

Sin mas choro, vamos a ver como se usa, otra vez con el estado de Sonora:

In [8]:
TARGET_URL = API_HOST + API_SOCIODEOGRAFICOS_ROOT + "AreaChartSexoAnio"

DATA = {
  "titulo":"PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS",
  "subtitulo":"POR AÑO EN EL ESTADO DE SONORA",
  "idEstado":"26",
  "idMunicipio":"0",
  "idColonia":"0",
  "edadInicio":"",
  "edadFin":"",
  "mostrarEdadNula":"0",
  "idHipotesisNoLocalizacion":"0",
  "idDelito":"0",
  "idEstatusVictima":"0",
  "fechaInicio":"",
  "fechaFin":"",
  "mostrarFechaNula":"0",
  "idNacionalidad":"0",
  "idHipotesis":"",
  "idMedioConocimiento":"",
  "idCircunstancia":"",
  "idEtnia":"0",
  "idLengua":"0",
  "idReligion":"",
  "tieneDiscapacidad":"",
  "idTipoDiscapacidad":"0",
  "esMigrante":"",
  "idEstatusMigratorio":"0",
  "esLgbttti":"",
  "esServidorPublico":"",
  "esDefensorDH":"",
  "esPeriodista":"",
  "esSindicalista":"",
  "esONG":"",
}

r = main_session.post(TARGET_URL, json = DATA)

res = r.json()

datos = {serie['name']: serie['data'] for serie in res['Series']}
datos['Fecha'] = res['XAxisCategories']

por_fecha = pd.DataFrame(datos)
por_fecha['Fecha'] = pd.to_numeric(por_fecha.Fecha, errors='coerce')
por_fecha.index = por_fecha.Fecha

por_fecha

        Hombre  Mujer  Indeterminado   Fecha
Fecha
NaN        127     46              5     NaN
1974.0       3      0              0  1974.0
1977.0       1      0              0  1977.0
1978.0       2      0              0  1978.0
1980.0       1      0              0  1980.0
1981.0       7      1              0  1981.0
1982.0       1      0              0  1982.0
1983.0       2      0              0  1983.0
1989.0       1      0              0  1989.0
1990.0       1      0              0  1990.0
1994.0       2      0              0  1994.0
1995.0       2      1              0  1995.0
1998.0       2      0              0  1998.0
1999.0       2      2              0  1999.0
2000.0       2      0              0  2000.0
2001.0       4      1              0  2001.0
2002.0       3      0              0  2002.0
2003.0       1      1              0  2003.0
2004.0       5      3              0  2004.0
2005.0      10      3              0  2005.0
2006.0       9     10              0  2006.0
2007.0      44     55              0  2007.0
2008.0      67     61              0  2008.0
2009.0     101     62              0  2009.0
2010.0     112     69              0  2010.0
2011.0     135     99              0  2011.0
2012.0     201    177              0  2012.0
2013.0     297    215              0  2013.0
2014.0     280    137              0  2014.0
2015.0     257    130              0  2015.0
2016.0     309    200              0  2016.0
2017.0     674    425              0  2017.0
2018.0     702    366              0  2018.0
2019.0     551     76              1  2019.0
2020.0     616    100              0  2020.0
2021.0     202     40              0  2021.0
2022.0     277     56              0  2022.0
2023.0     310     80              0  2023.0
2024.0    1272    347              1  2024.0
2025.0    1252    432              0  2025.0

### Ejercicio

¿Se puede hacer por municipio? ¿En forma programática? ¿Para algun caso especial? Intentalo

### Ejercicio

Extrae alguna información del conjunto de datos que pienses que es relevante, y explica porqué.

## Practicando a ser investigador de APIs

Ahora te pido que revises si puedes encontrar otros endpoints para recuperar mas información de las bases que no se encuentran liberadas. Puede ser en la misma página, o en blogs o revisando código. Agrega en esta libreta la documentación (o enlaces a dicha documentación) y un ejemplo de uso de una API pobremente documentada.